<a href="https://colab.research.google.com/github/Vinit-1996/Credit-Risk-Modelling/blob/main/Credit_Risk.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
import numpy as np
import pandas as pd

In [10]:
loan_data_backup=pd.read_csv('/content/loan_data_2007_2014.csv').loc[:,]

In [11]:
loan_data=loan_data_backup.copy()

In [15]:
del loan_data['Unnamed: 0']

In [16]:
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39829,627829,804528,10000,10000,9975.0,60 months,14.83,237.01,D,D3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39830,627637,804292,7800,7800,7675.0,60 months,15.20,186.39,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39831,627453,804044,8000,8000,8000.0,60 months,13.72,184.99,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39832,627364,803942,6600,6600,6600.0,60 months,18.91,170.89,F,F4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39833,627006,803437,6000,6000,5925.0,60 months,15.20,143.38,D,D4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [17]:
pd.options.display.max_columns=None

In [18]:
loan_data

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,NaN,10+ years,RENT,24000.0,Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I need to upgra...,credit_card,Computer,860xx,AZ,27.65,0.0,Jan-85,1.0,NaN,NaN,3.0,0.0,13648.0,83.7,9.0,f,0.0,0.0,5861.071414,5831.78,5000.00,861.07,0.000000,0.00,0.00,Jan-15,171.62,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,Ryder,< 1 year,RENT,30000.0,Source Verified,Dec-11,Charged Off,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/22/11 > I plan to use t...,car,bike,309xx,GA,1.00,0.0,Apr-99,5.0,NaN,NaN,3.0,0.0,1687.0,9.4,4.0,f,0.0,0.0,1008.710000,1008.71,456.46,435.17,0.000000,117.08,1.11,Apr-13,119.66,NaN,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,NaN,10+ years,RENT,12252.0,Not Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,NaN,small_business,real estate business,606xx,IL,8.72,0.0,Nov-01,2.0,NaN,NaN,2.0,0.0,2956.0,98.5,10.0,f,0.0,0.0,3003.653644,3003.65,2400.00,603.65,0.000000,0.00,0.00,Jun-14,649.91,NaN,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,AIR RESOURCES BOARD,10+ years,RENT,49200.0,Source Verified,Dec-11,Fully Paid,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > to pay for prop...,other,personel,917xx,CA,20.00,0.0,Feb-96,1.0,35.0,NaN,10.0,0.0,5598.0,21.0,37.0,f,0.0,0.0,12226.302210,12226.30,10000.00,2209.33,16.970000,0.00,0.00,Jan-15,357.48,NaN,Jan-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,University Medical Group,1 year,RENT,80000.0,Source Verified,Dec-11,Current,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/21/11 > I plan on combi...,other,Personal,972xx,OR,17.94,0.0,Jan-96,0.0,38.0,NaN,15.0,0.0,27783.0,53.9,38.0,f,766.9,766.9,3242.170000,3242.17,2233.10,1009.07,0.000000,0.00,0.00,Jan-16,67.79,Feb-16,Jan-16,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39829,627829,804528,10000,10000,9975.0,60 months,14.83,237.01,D,D3,Chicago Transit,10+ years,MORTGAGE,70000.0,Not Verified,Dec-10,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/05/10 > This is my stor...,debt_consolidation,consolidate,604xx,IL,10.01,0.0,Mar-90,6.0,NaN,NaN,16.0,0.0,41575.0,79.6,32.0,f,0.0,0.0,14220.413280,14184.86,10000.00,4220.41,0.000000,0.00,0.00,Dec-15,236.82,Jan-16,Dec-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39830,627637,804292,7800,7800,7675.0,60 months,15.20,186.39,D,D4,us postal service,10+ years,RENT,53500.0,Verified,Dec-10,Does not meet the credit policy. Status:Charge...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/05/10 > also using for ...,medical,expenses,173xx,PA,12.65,0.0,Dec-94,5.0,52.0,NaN,20.0,0.0,5312.0,25.3,29.0,f,0.0,0.0,3881.010000,3818.84,1858.74,1664.62,0.000000,357.65,3.23,Jul-12,186.39,Dec-12,Dec-12,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39831,627453,804044,8000,8000,8000.0,60 months,13.72,184.99,C,C5,Farrell Equipment & Supply Co,10+ years,MORTGAGE,33600.0,Not Verified,Dec-10,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/10 > I want to pay o...,debt_consolidation,Pay off my Bills,547xx,WI,3.64,1.0,Aug-86,4.0,12.0,NaN,6.0,0.0,454.0,90.8,31.0,f,0.0,0.0,9016.550000,9016.55,8000.00,1016.55,0.000000,0.00,0.00,Dec-11,7001.22,Jan-12,Sep-14,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39832,627364,803942,6600,6600,6600.0,60 months,18.91,170.89,F,F4,Clayton County Public Schools,5 years,MORTGAGE,57000.0,Source Verified,Dec-10,Does not meet the credit policy. Status:Charge...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/10 > This loan will ...,house,Home Lona Down Payment,303xx,GA,22.11,1.0,Oct-98,4.0,21.0,NaN,33.0,0.0,2525.0,40.7,40.0,f,0.0,0.0,5074.770000,5074.77,2319.47,2479.86,29.919726,245.52,2.56,May-13,35.57,Sep-13,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39833,627006,803437,6000,6000,5925.0,60 months,15.20,143.38,D,D4,Barnard & Associates,3 years,RENT,36000.0,Verified,Dec-10,Does not meet the credit policy. Status:Charge...,n,https://www.lendingclub.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [19]:
loan_data.tail()

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,emp_title,emp_length,home_ownership,annual_inc,verification_status,issue_d,loan_status,pymnt_plan,url,desc,purpose,title,zip_code,addr_state,dti,delinq_2yrs,earliest_cr_line,inq_last_6mths,mths_since_last_delinq,mths_since_last_record,open_acc,pub_rec,revol_bal,revol_util,total_acc,initial_list_status,out_prncp,out_prncp_inv,total_pymnt,total_pymnt_inv,total_rec_prncp,total_rec_int,total_rec_late_fee,recoveries,collection_recovery_fee,last_pymnt_d,last_pymnt_amnt,next_pymnt_d,last_credit_pull_d,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type,annual_inc_joint,dti_joint,verification_status_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,open_il_6m,open_il_12m,open_il_24m,mths_since_rcnt_il,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
39829,627829,804528,10000,10000,9975.0,60 months,14.83,237.01,D,D3,Chicago Transit,10+ years,MORTGAGE,70000.0,Not Verified,Dec-10,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/05/10 > This is my stor...,debt_consolidation,consolidate,604xx,IL,10.01,0.0,Mar-90,6.0,NaN,NaN,16.0,0.0,41575.0,79.6,32.0,f,0.0,0.0,14220.41328,14184.86,10000.00,4220.41,0.000000,0.00,0.00,Dec-15,236.82,Jan-16,Dec-15,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39830,627637,804292,7800,7800,7675.0,60 months,15.20,186.39,D,D4,us postal service,10+ years,RENT,53500.0,Verified,Dec-10,Does not meet the credit policy. Status:Charge...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/05/10 > also using for ...,medical,expenses,173xx,PA,12.65,0.0,Dec-94,5.0,52.0,NaN,20.0,0.0,5312.0,25.3,29.0,f,0.0,0.0,3881.01000,3818.84,1858.74,1664.62,0.000000,357.65,3.23,Jul-12,186.39,Dec-12,Dec-12,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39831,627453,804044,8000,8000,8000.0,60 months,13.72,184.99,C,C5,Farrell Equipment & Supply Co,10+ years,MORTGAGE,33600.0,Not Verified,Dec-10,Does not meet the credit policy. Status:Fully ...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/10 > I want to pay o...,debt_consolidation,Pay off my Bills,547xx,WI,3.64,1.0,Aug-86,4.0,12.0,NaN,6.0,0.0,454.0,90.8,31.0,f,0.0,0.0,9016.55000,9016.55,8000.00,1016.55,0.000000,0.00,0.00,Dec-11,7001.22,Jan-12,Sep-14,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39832,627364,803942,6600,6600,6600.0,60 months,18.91,170.89,F,F4,Clayton County Public Schools,5 years,MORTGAGE,57000.0,Source Verified,Dec-10,Does not meet the credit policy. Status:Charge...,n,https://www.lendingclub.com/browse/loanDetail....,Borrower added on 12/04/10 > This loan will ...,house,Home Lona Down Payment,303xx,GA,22.11,1.0,Oct-98,4.0,21.0,NaN,33.0,0.0,2525.0,40.7,40.0,f,0.0,0.0,5074.77000,5074.77,2319.47,2479.86,29.919726,245.52,2.56,May-13,35.57,Sep-13,Sep-13,0.0,NaN,1.0,INDIVIDUAL,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
39833,627006,803437,6000,6000,5925.0,60 months,15.20,143.38,D,D4,Barnard & Associates,3 years,RENT,36000.0,Verified,Dec-10,Does not meet the credit policy. Status:Charge...,n,https://www.lendingclub.com,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
loan_data.columns.values

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m'], dtype=object)

In [22]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39834 entries, 0 to 39833
Data columns (total 74 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           39834 non-null  int64
 1   member_id                    39834 non-null  int64
 2   loan_amnt                    39834 non-null  int64
 3   funded_amnt                  39834 non-null  int64
 4   funded_amnt_inv              39834 non-null  float64
 5   term                         39834 non-null  object
 6   int_rate                     39834 non-null  float64
 7   installment                  39834 non-null  float64
 8   grade                        39834 non-null  object
 9   sub_grade                    39834 non-null  object
 10  emp_title                    37364 non-null  object
 11  emp_length                   38754 non-null  object
 12  home_ownership               39834 non-null  object
 13  annual_inc                   39834 non-null  float64
 14  verification_status          39834 non-null  object
 15  issue_d                      39834 non-null  object
 16  loan_status                  39834 non-null  object
 17  pymnt_plan                   39834 non-null  object
 18  url                          39834 non-null  object
 19  desc                         26844 non-null  object
 20  purpose                      39833 non-null  object
 21  title                        39822 non-null  object
 22  zip_code                     39833 non-null  object
 23  addr_state                   39833 non-null  object
 24  dti                          39833 non-null  float64
 25  delinq_2yrs                  39833 non-null  float64
 26  earliest_cr_line             39833 non-null  object
 27  inq_last_6mths               39833 non-null  float64
 28  mths_since_last_delinq       14079 non-null  float64
 29  mths_since_last_record       2793 non-null   float64
 30  open_acc                     39833 non-null  float64
 31  pub_rec                      39833 non-null  float64
 32  revol_bal                    39833 non-null  float64
 33  revol_util                   39783 non-null  float64
 34  total_acc                    39833 non-null  float64
 35  initial_list_status          39833 non-null  object
 36  out_prncp                    39833 non-null  float64
 37  out_prncp_inv                39833 non-null  float64
 38  total_pymnt                  39833 non-null  float64
 39  total_pymnt_inv              39833 non-null  float64
 40  total_rec_prncp              39833 non-null  float64
 41  total_rec_int                39833 non-null  float64
 42  total_rec_late_fee           39833 non-null  float64
 43  recoveries                   39833 non-null  float64
 44  collection_recovery_fee      39833 non-null  float64
 45  last_pymnt_d                 39762 non-null  object
 46  last_pymnt_amnt              39833 non-null  float64
 47  next_pymnt_d                 2108 non-null   object
 48  last_credit_pull_d           39831 non-null  object
 49  collections_12_mths_ex_med   39777 non-null  float64
 50  mths_since_last_major_derog  0 non-null      float64
 51  policy_code                  39833 non-null  float64
 52  application_type             39833 non-null  object
 53  annual_inc_joint             0 non-null      float64
 54  dti_joint                    0 non-null      float64
 55  verification_status_joint    0 non-null      float64
 56  acc_now_delinq               39833 non-null  float64
 57  tot_coll_amt                 0 non-null      float64
 58  tot_cur_bal                  0 non-null      float64
 59  open_acc_6m                  0 non-null      float64
 60  open_il_6m                   0 non-null      float64
 61  open_il_12m                  0 non-null      float64
 62  open_il_24m                  0 non-null      float64
 63  mths_since_rcnt_il           0 non-null      float64
 64  total_bal_il                 0 non-null      float64
 65  il_util                      0 non-null      float64
 66  open_rv_12m                  0 non-null      float64
 67  open_rv_24m                  0 non-null      float64
 68  max_bal_bc                   0 non-null      float64
 69  all_util                     0 non-null      float64
 70  total_rev_hi_lim             0 non-null      float64
 71  inq_fi                       0 non-null      float64
 72  total_cu_tl                  0 non-null      float64
 73  inq_last_12m                 0 non-null      float64
dtypes: float64(48), int64(4), object(22)
memory usage: 22.5+ MB

General Preprocessing

In [40]:
loan_data['emp_length'].unique()

array(['10+ years', '< 1 year', '1 year', '3 years', '8 years', '9 years',
       '4 years', '5 years', '6 years', '2 years', '7 years', nan],
      dtype=object)

In [41]:
loan_data['emp_length_int']=loan_data['emp_length'].str.replace('\+ years','',regex=True)
loan_data['emp_length_int']=loan_data['emp_length_int'].str.replace('< 1 year', str(0))
loan_data['emp_length_int']=loan_data['emp_length_int'].str.replace('n/a', str(0))
loan_data['emp_length_int']=loan_data['emp_length_int'].str.replace(' years','')
loan_data['emp_length_int']=loan_data['emp_length_int'].str.replace(' year','')

In [42]:
loan_data['emp_length_int'].unique()

array(['10', '0', '1', '3', '8', '9', '4', '5', '6', '2', '7', nan],
      dtype=object)

In [43]:
type(loan_data['emp_length_int'][0])

str

In [44]:
loan_data['emp_length_int']=pd.to_numeric(loan_data['emp_length_int'])

In [45]:
type(loan_data['emp_length_int'][0])

numpy.float64

In [47]:
loan_data['term'].unique()

array([' 36 months', ' 60 months'], dtype=object)

In [49]:
type(loan_data['term'][0])

str

In [50]:
loan_data['term_int']=loan_data['term'].str.replace(' months','')

In [56]:
loan_data['term_int']=loan_data['term_int'].apply(lambda x : x.strip())

In [58]:
loan_data['term_int']=pd.to_numeric(loan_data['term_int'])

In [60]:
type(loan_data['term_int'][0])

numpy.int64

In [61]:
loan_data['earliest_cr_line']

0        Jan-85
1        Apr-99
2        Nov-01
3        Feb-96
4        Jan-96
          ...
39829    Mar-90
39830    Dec-94
39831    Aug-86
39832    Oct-98
39833       NaN
Name: earliest_cr_line, Length: 39834, dtype: object

In [62]:
loan_data['earliest_cr_line_date']=pd.to_datetime(loan_data['earliest_cr_line'], format='%b-%y')

In [64]:
type(loan_data['earliest_cr_line_date'][0])

pandas._libs.tslibs.timestamps.Timestamp

In [65]:
pd.to_datetime('2017-12-01')-loan_data['earliest_cr_line_date']

0       12022 days
1        6819 days
2        5874 days
3        7974 days
4        8005 days
           ...
39829   10137 days
39830    8401 days
39831   11445 days
39832    7001 days
39833          NaT
Name: earliest_cr_line_date, Length: 39834, dtype: timedelta64[ns]

In [90]:
loan_data['mths_since_ealiest_cr_line']= round(pd.to_numeric((pd.to_datetime('2017-12-01')-loan_data['earliest_cr_line_date'])/np.timedelta64(1,'M')))

In [91]:
loan_data['mths_since_ealiest_cr_line'].describe()

count    39833.000000
mean       247.670901
std         88.908703
min       -612.000000
25%        195.000000
50%        235.000000
75%        288.000000
max        586.000000
Name: mths_since_ealiest_cr_line, dtype: float64

In [92]:
loan_data.loc[:,['earliest_cr_line','earliest_cr_line_date','mths_since_ealiest_cr_line']][loan_data['mths_since_ealiest_cr_line']<0]

      earliest_cr_line earliest_cr_line_date  mths_since_ealiest_cr_line
1580            Sep-62            2062-09-01                      -537.0
1770            Sep-68            2068-09-01                      -609.0
2799            Sep-64            2064-09-01                      -561.0
3282            Sep-67            2067-09-01                      -597.0
3359            Feb-65            2065-02-01                      -566.0
...                ...                   ...                         ...
37397           Oct-68            2068-10-01                      -610.0
37511           Sep-67            2067-09-01                      -597.0
38137           Dec-68            2068-12-01                      -612.0
39618           May-63            2063-05-01                      -545.0
39686           May-63            2063-05-01                      -545.0

[90 rows x 3 columns]

In [97]:
loan_data['mths_since_ealiest_cr_line'].loc[loan_data['mths_since_ealiest_cr_line']<0]=loan_data['mths_since_ealiest_cr_line'].max()

<ipython-input-97-eaf1e34a0b0a>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  loan_data['mths_since_ealiest_cr_line'].loc[loan_data['mths_since_ealiest_cr_line']<0]=loan_data['mths_since_ealiest_cr_line'].max()

In [99]:
min(loan_data['mths_since_ealiest_cr_line'])

109.0

In [100]:
loan_data['issue_d']

0        Dec-11
1        Dec-11
2        Dec-11
3        Dec-11
4        Dec-11
          ...
39829    Dec-10
39830    Dec-10
39831    Dec-10
39832    Dec-10
39833    Dec-10
Name: issue_d, Length: 39834, dtype: object

In [101]:
loan_data['issue_d_date'] = pd.to_datetime(loan_data['issue_d'], format = '%b-%y')
# Extracts the date and the time from a string variable that is in a given format.

In [102]:
loan_data['mths_since_issue_d'] = round(pd.to_numeric((pd.to_datetime('2017-12-01') - loan_data['issue_d_date']) / np.timedelta64(1, 'M')))

In [103]:
# We calculate the difference between two dates in months, turn it to numeric datatype and round it.
# We save the result in a new variable.
loan_data['mths_since_issue_d'].describe()
# Shows some descriptive statisics for the values of a column.

count    39834.000000
mean        84.866345
std         10.983146
min         72.000000
25%         76.000000
50%         82.000000
75%         91.000000
max        126.000000
Name: mths_since_issue_d, dtype: float64

Preprocessing few Discrete variables

In [104]:
loan_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 39834 entries, 0 to 39833
Data columns (total 80 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           39834 non-null  int64
 1   member_id                    39834 non-null  int64
 2   loan_amnt                    39834 non-null  int64
 3   funded_amnt                  39834 non-null  int64
 4   funded_amnt_inv              39834 non-null  float64
 5   term                         39834 non-null  object
 6   int_rate                     39834 non-null  float64
 7   installment                  39834 non-null  float64
 8   grade                        39834 non-null  object
 9   sub_grade                    39834 non-null  object
 10  emp_title                    37364 non-null  object
 11  emp_length                   38754 non-null  object
 12  home_ownership               39834 non-null  object
 13  annual_inc                   39834 non-null  float64
 14  verification_status          39834 non-null  object
 15  issue_d                      39834 non-null  object
 16  loan_status                  39834 non-null  object
 17  pymnt_plan                   39834 non-null  object
 18  url                          39834 non-null  object
 19  desc                         26844 non-null  object
 20  purpose                      39833 non-null  object
 21  title                        39822 non-null  object
 22  zip_code                     39833 non-null  object
 23  addr_state                   39833 non-null  object
 24  dti                          39833 non-null  float64
 25  delinq_2yrs                  39833 non-null  float64
 26  earliest_cr_line             39833 non-null  object
 27  inq_last_6mths               39833 non-null  float64
 28  mths_since_last_delinq       14079 non-null  float64
 29  mths_since_last_record       2793 non-null   float64
 30  open_acc                     39833 non-null  float64
 31  pub_rec                      39833 non-null  float64
 32  revol_bal                    39833 non-null  float64
 33  revol_util                   39783 non-null  float64
 34  total_acc                    39833 non-null  float64
 35  initial_list_status          39833 non-null  object
 36  out_prncp                    39833 non-null  float64
 37  out_prncp_inv                39833 non-null  float64
 38  total_pymnt                  39833 non-null  float64
 39  total_pymnt_inv              39833 non-null  float64
 40  total_rec_prncp              39833 non-null  float64
 41  total_rec_int                39833 non-null  float64
 42  total_rec_late_fee           39833 non-null  float64
 43  recoveries                   39833 non-null  float64
 44  collection_recovery_fee      39833 non-null  float64
 45  last_pymnt_d                 39762 non-null  object
 46  last_pymnt_amnt              39833 non-null  float64
 47  next_pymnt_d                 2108 non-null   object
 48  last_credit_pull_d           39831 non-null  object
 49  collections_12_mths_ex_med   39777 non-null  float64
 50  mths_since_last_major_derog  0 non-null      float64
 51  policy_code                  39833 non-null  float64
 52  application_type             39833 non-null  object
 53  annual_inc_joint             0 non-null      float64
 54  dti_joint                    0 non-null      float64
 55  verification_status_joint    0 non-null      float64
 56  acc_now_delinq               39833 non-null  float64
 57  tot_coll_amt                 0 non-null      float64
 58  tot_cur_bal                  0 non-null      float64
 59  open_acc_6m                  0 non-null      float64
 60  open_il_6m                   0 non-null      float64
 61  open_il_12m                  0 non-null      float64
 62  open_il_24m                  0 non-null      float64
 63  mths_since_rcnt_il           0 non-null      float64
 64  total_bal_il                 0 non-null      float64
 65  il_util                      0 non-null      float64
 66  open_rv_12m                  0 non-null      float64
 67  open_rv_24m                  0 non-null      float64
 68  max_bal_bc                   0 non-null      float64
 69  all_util                     0 non-null      float64
 70  total_rev_hi_lim             0 non-null      float64
 71  inq_fi                       0 non-null      float64
 72  total_cu_tl                  0 non-null      float64
 73  inq_last_12m                 0 non-null      float64
 74  emp_length_int               38754 non-null  float64
 75  term_int                     39834 non-null  int64
 76  earliest_cr_line_date        39833 non-null  datetime64[ns]
 77  mths_since_ealiest_cr_line   39833 non-null  float64
 78  issue_d_date                 39834 non-null  datetime64[ns]
 79  mths_since_issue_d           39834 non-null  float64
dtypes: datetime64[ns](2), float64(51), int64(5), object(22)
memory usage: 24.3+ MB

In [106]:
pd.get_dummies(loan_data['grade'])

       A  B  C  D  E  F  G
0      0  1  0  0  0  0  0
1      0  0  1  0  0  0  0
2      0  0  1  0  0  0  0
3      0  0  1  0  0  0  0
4      0  1  0  0  0  0  0
...   .. .. .. .. .. .. ..
39829  0  0  0  1  0  0  0
39830  0  0  0  1  0  0  0
39831  0  0  1  0  0  0  0
39832  0  0  0  0  0  1  0
39833  0  0  0  1  0  0  0

[39834 rows x 7 columns]

In [107]:
pd.get_dummies(loan_data['grade'], prefix='grade',prefix_sep=':')

       grade:A  grade:B  grade:C  grade:D  grade:E  grade:F  grade:G
0            0        1        0        0        0        0        0
1            0        0        1        0        0        0        0
2            0        0        1        0        0        0        0
3            0        0        1        0        0        0        0
4            0        1        0        0        0        0        0
...        ...      ...      ...      ...      ...      ...      ...
39829        0        0        0        1        0        0        0
39830        0        0        0        1        0        0        0
39831        0        0        1        0        0        0        0
39832        0        0        0        0        0        1        0
39833        0        0        0        1        0        0        0

[39834 rows x 7 columns]

In [108]:
loan_data_dummies = [pd.get_dummies(loan_data['grade'], prefix = 'grade', prefix_sep = ':'),
                     pd.get_dummies(loan_data['sub_grade'], prefix = 'sub_grade', prefix_sep = ':'),
                     pd.get_dummies(loan_data['home_ownership'], prefix = 'home_ownership', prefix_sep = ':'),
                     pd.get_dummies(loan_data['verification_status'], prefix = 'verification_status', prefix_sep = ':'),
                     pd.get_dummies(loan_data['loan_status'], prefix = 'loan_status', prefix_sep = ':'),
                     pd.get_dummies(loan_data['purpose'], prefix = 'purpose', prefix_sep = ':'),
                     pd.get_dummies(loan_data['addr_state'], prefix = 'addr_state', prefix_sep = ':'),
                     pd.get_dummies(loan_data['initial_list_status'], prefix = 'initial_list_status', prefix_sep = ':')]

In [110]:
# We create dummy variables from all 8 original independent variables, and save them into a list.
# Note that we are using a particular naming convention for all variables: original variable name, colon, category name.
# We concatenate the dummy variables and this turns them into a dataframe.
loan_data_dummies = pd.concat(loan_data_dummies, axis = 1)

In [111]:
loan_data_dummies

,grade:A,grade:B,grade:C,grade:D,grade:E,grade:F,grade:G,sub_grade:A1,sub_grade:A2,sub_grade:A3,sub_grade:A4,sub_grade:A5,sub_grade:B1,sub_grade:B2,sub_grade:B3,sub_grade:B4,sub_grade:B5,sub_grade:C1,sub_grade:C2,sub_grade:C3,sub_grade:C4,sub_grade:C5,sub_grade:D1,sub_grade:D2,sub_grade:D3,sub_grade:D4,sub_grade:D5,sub_grade:E1,sub_grade:E2,sub_grade:E3,sub_grade:E4,sub_grade:E5,sub_grade:F1,sub_grade:F2,sub_grade:F3,sub_grade:F4,sub_grade:F5,sub_grade:G1,sub_grade:G2,sub_grade:G3,sub_grade:G4,sub_grade:G5,home_ownership:MORTGAGE,home_ownership:NONE,home_ownership:OTHER,home_ownership:OWN,home_ownership:RENT,verification_status:Not Verified,verification_status:Source Verified,verification_status:Verified,loan_status:Charged Off,loan_status:Current,loan_status:Default,loan_status:Does not meet the credit policy. Status:Charged Off,loan_status:Does not meet the credit policy. Status:Fully Paid,loan_status:Fully Paid,loan_status:In Grace Period,loan_status:Late (16-30 days),loan_status:Late (31-120 days),purpose:car,purpose:credit_card,purpose:debt_consolidation,purpose:educational,purpose:home_improvement,purpose:house,purpose:major_purchase,purpose:medical,purpose:moving,purpose:other,purpose:renewable_energy,purpose:small_business,purpose:vacation,purpose:wedding,addr_state:AK,addr_state:AL,addr_state:AR,addr_state:AZ,addr_state:CA,addr_state:CO,addr_state:CT,addr_state:DC,addr_state:DE,addr_state:FL,addr_state:GA,addr_state:HI,addr_state:IA,addr_state:ID,addr_state:IL,addr_state:IN,addr_state:KS,addr_state:KY,addr_state:LA,addr_state:MA,addr_state:MD,addr_state:ME,addr_state:MI,addr_state:MN,addr_state:MO,addr_state:MS,addr_state:MT,addr_state:NC,addr_state:NE,addr_state:NH,addr_state:NJ,addr_state:NM,addr_state:NV,addr_state:NY,addr_state:OH,addr_state:OK,addr_state:OR,addr_state:PA,addr_state:RI,addr_state:SC,addr_state:SD,addr_state:TN,addr_state:TX,addr_state:UT,addr_state:VA,addr_state:VT,addr_state:WA,addr_state:WI,addr_state:WV,addr_state:WY,initial_list_status:f
0,0,1,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
2,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,1,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
3,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
4,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,1,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39829,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
39830,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,1
39831,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1
39832,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,1,0,0,0,0,0,1,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1
39833,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,1,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [112]:
type(loan_data_dummies)
# Returns the type of the variable.

pandas.core.frame.DataFrame

In [113]:
loan_data = pd.concat([loan_data, loan_data_dummies], axis = 1)
# Concatenates two dataframes.
# Here we concatenate the dataframe with original data with the dataframe with dummy variables, along the columns.

In [114]:
loan_data.columns.values
# Displays all column names.

array(['id', 'member_id', 'loan_amnt', 'funded_amnt', 'funded_amnt_inv',
       'term', 'int_rate', 'installment', 'grade', 'sub_grade',
       'emp_title', 'emp_length', 'home_ownership', 'annual_inc',
       'verification_status', 'issue_d', 'loan_status', 'pymnt_plan',
       'url', 'desc', 'purpose', 'title', 'zip_code', 'addr_state', 'dti',
       'delinq_2yrs', 'earliest_cr_line', 'inq_last_6mths',
       'mths_since_last_delinq', 'mths_since_last_record', 'open_acc',
       'pub_rec', 'revol_bal', 'revol_util', 'total_acc',
       'initial_list_status', 'out_prncp', 'out_prncp_inv', 'total_pymnt',
       'total_pymnt_inv', 'total_rec_prncp', 'total_rec_int',
       'total_rec_late_fee', 'recoveries', 'collection_recovery_fee',
       'last_pymnt_d', 'last_pymnt_amnt', 'next_pymnt_d',
       'last_credit_pull_d', 'collections_12_mths_ex_med',
       'mths_since_last_major_derog', 'policy_code', 'application_type',
       'annual_inc_joint', 'dti_joint', 'verification_status_joint',
       'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'open_acc_6m',
       'open_il_6m', 'open_il_12m', 'open_il_24m', 'mths_since_rcnt_il',
       'total_bal_il', 'il_util', 'open_rv_12m', 'open_rv_24m',
       'max_bal_bc', 'all_util', 'total_rev_hi_lim', 'inq_fi',
       'total_cu_tl', 'inq_last_12m', 'emp_length_int', 'term_int',
       'earliest_cr_line_date', 'mths_since_ealiest_cr_line',
       'issue_d_date', 'mths_since_issue_d', 'grade:A', 'grade:B',
       'grade:C', 'grade:D', 'grade:E', 'grade:F', 'grade:G',
       'sub_grade:A1', 'sub_grade:A2', 'sub_grade:A3', 'sub_grade:A4',
       'sub_grade:A5', 'sub_grade:B1', 'sub_grade:B2', 'sub_grade:B3',
       'sub_grade:B4', 'sub_grade:B5', 'sub_grade:C1', 'sub_grade:C2',
       'sub_grade:C3', 'sub_grade:C4', 'sub_grade:C5', 'sub_grade:D1',
       'sub_grade:D2', 'sub_grade:D3', 'sub_grade:D4', 'sub_grade:D5',
       'sub_grade:E1', 'sub_grade:E2', 'sub_grade:E3', 'sub_grade:E4',
       'sub_grade:E5', 'sub_grade:F1', 'sub_grade:F2', 'sub_grade:F3',
       'sub_grade:F4', 'sub_grade:F5', 'sub_grade:G1', 'sub_grade:G2',
       'sub_grade:G3', 'sub_grade:G4', 'sub_grade:G5',
       'home_ownership:MORTGAGE', 'home_ownership:NONE',
       'home_ownership:OTHER', 'home_ownership:OWN',
       'home_ownership:RENT', 'verification_status:Not Verified',
       'verification_status:Source Verified',
       'verification_status:Verified', 'loan_status:Charged Off',
       'loan_status:Current', 'loan_status:Default',
       'loan_status:Does not meet the credit policy. Status:Charged Off',
       'loan_status:Does not meet the credit policy. Status:Fully Paid',
       'loan_status:Fully Paid', 'loan_status:In Grace Period',
       'loan_status:Late (16-30 days)', 'loan_status:Late (31-120 days)',
       'purpose:car', 'purpose:credit_card', 'purpose:debt_consolidation',
       'purpose:educational', 'purpose:home_improvement', 'purpose:house',
       'purpose:major_purchase', 'purpose:medical', 'purpose:moving',
       'purpose:other', 'purpose:renewable_energy',
       'purpose:small_business', 'purpose:vacation', 'purpose:wedding',
       'addr_state:AK', 'addr_state:AL', 'addr_state:AR', 'addr_state:AZ',
       'addr_state:CA', 'addr_state:CO', 'addr_state:CT', 'addr_state:DC',
       'addr_state:DE', 'addr_state:FL', 'addr_state:GA', 'addr_state:HI',
       'addr_state:IA', 'addr_state:ID', 'addr_state:IL', 'addr_state:IN',
       'addr_state:KS', 'addr_state:KY', 'addr_state:LA', 'addr_state:MA',
       'addr_state:MD', 'addr_state:ME', 'addr_state:MI', 'addr_state:MN',
       'addr_state:MO', 'addr_state:MS', 'addr_state:MT', 'addr_state:NC',
       'addr_state:NE', 'addr_state:NH', 'addr_state:NJ', 'addr_state:NM',
       'addr_state:NV', 'addr_state:NY', 'addr_state:OH', 'addr_state:OK',
       'addr_state:OR', 'addr_state:PA', 'addr_state:RI', 'addr_state:SC',
       'addr_state:SD', 'addr_state:TN', 'addr_state:TX', 'addr_state:UT',
       'addr_state:VA', 'addr_state:VT', 'addr_state:WA', 'addr_state:WI',
       'addr_state:WV', 'addr_state:WY', 'initial_list_status:f'],
      dtype=object)

Check for Missing values and clean

In [115]:
pd.options.display.max_rows=None
loan_data.isnull().sum()

id                                                                     0
member_id                                                              0
loan_amnt                                                              0
funded_amnt                                                            0
funded_amnt_inv                                                        0
term                                                                   0
int_rate                                                               0
installment                                                            0
grade                                                                  0
sub_grade                                                              0
emp_title                                                           2470
emp_length                                                          1080
home_ownership                                                         0
annual_inc                                                             0
verification_status                                                    0
issue_d                                                                0
loan_status                                                            0
pymnt_plan                                                             0
url                                                                    0
desc                                                               12990
purpose                                                                1
title                                                                 12
zip_code                                                               1
addr_state                                                             1
dti                                                                    1
delinq_2yrs                                                            1
earliest_cr_line                                                       1
inq_last_6mths                                                         1
mths_since_last_delinq                                             25755
mths_since_last_record                                             37041
open_acc                                                               1
pub_rec                                                                1
revol_bal                                                              1
revol_util                                                            51
total_acc                                                              1
initial_list_status                                                    1
out_prncp                                                              1
out_prncp_inv                                                          1
total_pymnt                                                            1
total_pymnt_inv                                                        1
total_rec_prncp                                                        1
total_rec_int                                                          1
total_rec_late_fee                                                     1
recoveries                                                             1
collection_recovery_fee                                                1
last_pymnt_d                                                          72
last_pymnt_amnt                                                        1
next_pymnt_d                                                       37726
last_credit_pull_d                                                     3
collections_12_mths_ex_med                                            57
mths_since_last_major_derog                                        39834
policy_code                                                            1
application_type                                                       1
annual_inc_joint                                                   39834
dti_joint                                                          39834
verification_status_joint                                          39834
acc_now_delinq                                                         1
tot_coll_amt                                                       39834
tot_cur_bal                                                        39834
open_acc_6m                                                        39834
open_il_6m                                                         39834
open_il_12m                                                        39834
open_il_24m                                                        39834
mths_since_rcnt_il                                                 39834
total_bal_il                                                       39834
il_util                                                            39834
open_rv_12m                                                        39834
open_rv_24m                                                        39834
max_bal_bc                                                         39834
all_util                                                           39834
total_rev_hi_lim                                                   39834
inq_fi                                                             39834
total_cu_tl                                                        39834
inq_last_12m                                                       39834
emp_length_int                                                      1080
term_int                                                               0
earliest_cr_line_date                                                  1
mths_since_ealiest_cr_line                                             1
issue_d_date                                                           0
mths_since_issue_d                                                     0
grade:A                                                                0
grade:B                                                                0
grade:C                                                                0
grade:D                                                                0
grade:E                                                                0
grade:F                                                                0
grade:G                                                                0
sub_grade:A1                                                           0
sub_grade:A2                                                           0
sub_grade:A3                                                           0
sub_grade:A4                                                           0
sub_grade:A5                                                           0
sub_grade:B1                                                           0
sub_grade:B2                                                           0
sub_grade:B3                                                           0
sub_grade:B4                                                           0
sub_grade:B5                                                           0
sub_grade:C1                                                           0
sub_grade:C2                                                           0
sub_grade:C3                                                           0
sub_grade:C4                                                           0
sub_grade:C5                                                           0
sub_grade:D1                                                           0
sub_grade:D2                                                           0
sub_grade:D3                                                           0
sub_grade:D4                                                           0
sub_grade:D5                                                           0
sub_grade:E1                                                           0
sub_grade:E2                                                           0
sub_grade:E3                                                           0
sub_grade:E4                                                           0
sub_grade:E5                                                           0
sub_grade:F1                                                           0
sub_grade:F2                                                           0
sub_grade:F3                                                           0
sub_grade:F4                                                           0
sub_grade:F5                                                           0
sub_grade:G1                                                           0
sub_grade:G2                                                           0
sub_grade:G3                                                           0
sub_grade:G4                                                           0
sub_grade:G5                                                           0
home_ownership:MORTGAGE                                                0
home_ownership:NONE                                                    0
home_ownership:OTHER                                                   0
home_ownership:OWN                                                     0
home_ownership:RENT                                                    0
verification_status:Not Verified                                       0
verification_status:Source Verified                                    0
verification_status:Verified                                           0
loan_status:Charged Off                                                0
loan_status:Current                                                    0
loan_status:Default                                                    0
loan_status:Does not meet the credit policy. Status:Charged Off        0
loan_status:Does not meet the credit policy. Status:Fully Paid         0
loan_status:Fully Paid                                                 0
loan_status:In Grace Period                                            0
loan_status:Late (16-30 days)                                          0
loan_status:Late (31-120 days)                                         0
purpose:car                                                            0
purpose:credit_card                                                    0
purpose:debt_consolidation                                             0
purpose:educational                                                    0
purpose:home_improvement                                               0
purpose:house                                                          0
purpose:major_purchase                                                 0
purpose:medical                                                        0
purpose:moving                                                         0
purpose:other                                                          0
purpose:renewable_energy                                               0
purpose:small_business                                                 0
purpose:vacation                                                       0
purpose:wedding                                                        0
addr_state:AK                                                          0
addr_state:AL                                                          0
addr_state:AR                                                          0
addr_state:AZ                                                          0
addr_state:CA                                                          0
addr_state:CO                                                          0
addr_state:CT                                                          0
addr_state:DC                                                          0
addr_state:DE                                                          0
addr_state:FL                                                          0
addr_state:GA                                                          0
addr_state:HI                                                          0
addr_state:IA                                                          0
addr_state:ID                                                          0
addr_state:IL                                                          0
addr_state:IN                                                          0
addr_state:KS                                                          0
addr_state:KY                                                          0
addr_state:LA                                                          0
addr_state:MA                                                          0
addr_state:MD                                                          0
addr_state:ME                                                          0
addr_state:MI                                                          0
addr_state:MN                                                          0
addr_state:MO                                                          0
addr_state:MS                                                          0
addr_state:MT                                                          0
addr_state:NC                                                          0
addr_state:NE                                                          0
addr_state:NH                                                          0
addr_state:NJ                                                          0
addr_state:NM                                                          0
addr_state:NV                                                          0
addr_state:NY                                                          0
addr_state:OH                                                          0
addr_state:OK                                                          0
addr_state:OR                                                          0
addr_state:PA                                                          0
addr_state:RI                                                          0
addr_state:SC                                                          0
addr_state:SD                                                          0
addr_state:TN                                                          0
addr_state:TX                                                          0
addr_state:UT                                                          0
addr_state:VA                                                          0
addr_state:VT                                                          0
addr_state:WA                                                          0
addr_state:WI                                                          0
addr_state:WV                                                          0
addr_state:WY                                                          0
initial_list_status:f                                                  0
dtype: int64

In [116]:
pd.options.display.max_rows = 100
# Sets the pandas dataframe options to display 100 columns/ rows.

In [117]:
# 'Total revolving high credit/ credit limit', so it makes sense that the missing values are equal to funded_amnt.
loan_data['total_rev_hi_lim'].fillna(loan_data['funded_amnt'], inplace=True)
# We fill the missing values with the values of another variable.

In [118]:
loan_data['total_rev_hi_lim'].isnull().sum()

0

In [119]:
loan_data['annual_inc'].fillna(loan_data['annual_inc'].mean(), inplace=True)
# We fill the missing values with the mean value of the non-missing values.

In [121]:
loan_data['mths_since_ealiest_cr_line'].fillna(0, inplace=True)
loan_data['acc_now_delinq'].fillna(0, inplace=True)
loan_data['total_acc'].fillna(0, inplace=True)
loan_data['pub_rec'].fillna(0, inplace=True)
loan_data['open_acc'].fillna(0, inplace=True)
loan_data['inq_last_6mths'].fillna(0, inplace=True)
loan_data['delinq_2yrs'].fillna(0, inplace=True)
loan_data['emp_length_int'].fillna(0, inplace=True)
# We fill the missing values with zeroes.